<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PNGLooper</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe"> You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		<div align="center">
			<div style="padding:20px;">
                <img id='currentPicture'>
			</div>
			<div id = "buttons">
				<input type="checkbox" id="reverseCheckBox" onClick="looper.setReversed(this.checked)">Reversed
				<button id="toggleButton" onClick="toggleLoop(this.innerHTML)">Stop</button>
			</div>
		</div>
		
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
		
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
		
		-->
        <script src="js/plugins.js"></script>
        <script src="js/loop.js"></script>
        
		<script type = "text/javascript">
            var looperOptions = { "numberOfImages" : 53,
                                  "fileExtension" : "png",
                                  "imagePrefix" : "image_",
                                  "img" : "currentPicture",
                                  "reversed" : false,
                                  "autoStart" : true };
            var looper = imageLooper(looperOptions);
		</script>
        
		<script type = "text/javascript">
            
            function setReversed() {
                var reversed = document.getElementById('reverseCheckBox').checked;
                looper.setReversed(reversed);
            }
            
            function toggleLoop(s) {
                if (s === 'Start') {
                    looper.startLoop();
                    document.getElementById('toggleButton').innerHTML = 'Stop';
                }
                else if (s === 'Stop') {
                    looper.stopLoop();
                    document.getElementById('toggleButton').innerHTML = 'Start';
                }
            }
        </script>
        
    </body>
</html>