<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>loop.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/flatly.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class='container'>
        <div class="row">
            <div class='title-container'>
                <h1>loop.js</h1>
                <h4>A simple javascript image looper.</h4>
            </div>
        </div>
        <br />
        <div>
            <img class='img-responsive center-block' id='currentPicture' alt='Loop Image'>
        </div>
        <div class="row">
            <div class='col-md-4 col-xs-6'>
                <h4 id='current-frame'></h4>
            </div>
            <div class="col-md-4 col-xs-6">
                <span class='checkbox-container'>
                    <label for='reverseCheckBox'>
                        <input type="checkbox" id="reverseCheckBox" onClick="looper.set_reversed(this.checked)">&nbsp;Reversed
                    </label>
                </span>
                <button class='btn btn-danger' id="toggleButton" onClick="toggle(this.innerHTML)">Stop</button>
            </div>
            <div class='visible-xs visible-sm'>&nbsp;</div>
            <div class="col-md-4 col-xs-12">
                <form id='framerate-form'>
                <div class='input-group'>
                    <input class="form-control" placeholder='Framerate' type='text' id='frameRateTextBox'>
                    <span class="input-group-btn">
                        <button class='btn btn-success' id="setFramerateButton" type='submit'>Set</button>
                        <input type='reset' class='btn btn-warning' id="resetFramerateButton">Reset</button>
                    </span>
                </div>
            </form>
            </div>
        </div>
    </div>
    <footer class='footer'>
        <div class='footer-text'>
            <p class="text-muted">Made with ❤️ by <a href='https://harlanhaskins.com/'>Harlan Haskins</a> | Fork me on <a href='https://github.com/harlanhaskins/loop.js/'>GitHub</a></p>
        </div>
    </footer>
    <script src="../loop.js"></script>
    <script type="text/javascript">
        function set_framerate(number) {
          if (!isNaN(number)) {
            $('#frameRateTextBox').val(number);
            looper.set_framerate(number);
          }
        }

        function update(current, total) {
            var percentage = Math.floor((current / total)* 100);
            $('#current-frame').html(current + '/' + total + ' (' + percentage + '%)');
        }

        $('#framerate-form').on('submit', function (event) {
            event.preventDefault();
            set_framerate($('#frameRateTextBox').val());
        });

        $('#framerate-form').on('reset', function (event) {
            event.preventDefault();
            set_framerate(24);
        });

        function toggle(s) {
          var btn_class;
          var text;
          if (s == 'Start') {
            looper.start();
            text = 'Stop';
            btn_class = 'btn btn-danger';
          } else if (s == 'Stop') {
            looper.stop();
            text = 'Start';
            btn_class = 'btn btn-success';
          }
          var btn = $('#toggleButton');
          btn.html(text);
          btn.attr('class', btn_class);
        }

        var looper = ImageLooper({
          "image_count": 54,
          "extension": "jpg",
          "prefix": "image_",
          "img": "currentPicture",
          "reversed": false,
          "auto_start": true,
          "onframe": update
        });
    </script>
</body>
</html>
